.our-team {
	background-color: $color-third-white;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	letter-spacing: 0.03em;

	&__team {
		font-weight: 700;
		font-size: 28px;
		line-height: 33px;
		text-align: center;
		letter-spacing: 0.03em;
		color: $color-secondary-black;
		margin-bottom: 30px;
	 }
}

.team-list {


	&__team-item {
		background: $color-secondary-white;
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		  0px 2px 1px rgba(0, 0, 0, 0.2);
		border-radius: 0px 0px 4px 4px;
		margin-bottom: 30px;
		padding-bottom: 30px;
	 }
	
	 &__name {
		font-weight: 500;
		color: $color-secondary-black;
		margin-top: 30px;
	 }
	
	 &__info {
		font-weight: 400;
		color: $color-gray;
		margin-top: 10px;
	 }
	
}

@media screen and (min-width: 768px) {
	.team-list {
	  display: flex;
	  flex-wrap: wrap;
	
 
	&__team-item {
		flex-basis: calc((100% - 4 * 15px) / 2);
	  margin: 15px;
	}
 }
}

 @media screen and (min-width: 1200px) {
	.team-list {
		&__team-item {
			flex-basis: calc((100% - 8 * 15px) / 4);
		 }
	}
	
 }
	
 
