$color-gray: #757575;
$color-white: #fff;
$color-rgb-blue: rgb(30, 173, 255);
$color-black: #000;
$color-blue: #188ce8;
$color-secondary-blue: #2196f3;
$color-secondary-black: #212121;
$color-rgba-gray:rgba(47, 48, 58, 0.4);
$color-secondary-white: #ffffff;
$color-secondary-rgba-gray: rgba(0, 0, 0, 0.15);
$color-third-white: #f5f4fa;
$color-rgba-black: rgba(0, 0, 0, 0.12);
$color-secondary-rgba-black:rgba(0, 0, 0, 0.14);
$color-third-rgba-black:rgba(0, 0, 0, 0.2);
$color-secondary-gray: #afb1b8;
$color-darkgray:#2f303a;
$color-rgba-darkgray: rgba(255, 255, 255, 0.6);